@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --blue: #4070f4;
    --black: #000000;
    --light-blue: #a6bcfa;
    --dark-blue: #03262c;
    --light-color: #555;
    --box-shadow: .5rem .5rem 0 #d2dfff;
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border: .2rem solid var(--blue);
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#sidebar::-webkit-scrollbar {
    visibility: hidden;
    display: none;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
}

::-webkit-scrollbar {
    width: .4rem;
}

.navigation {
    height: 100%;
    width: 300px;
    position: relative;
}

.navigation .menu-btn {
    position: fixed;
    left: 20px;
    top: 10px;
    background: var(--white);
    color: var(--blue);
    height: 45px;
    width: 45px;
    z-index: 10000;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#btn:checked~.menu-btn {
    left: 247px;
}

.navigation .menu-btn i {
    position: absolute;
    font-size: 23px;
    transition: all 0.3s ease;
}

.navigation .menu-btn i.fa-times {
    opacity: 0;
}

#btn:checked~.menu-btn i.fa-times {
    opacity: 1;
    transform: rotate(-180deg);
}

#btn:checked~.menu-btn i.fa-bars {
    opacity: 0;
    transform: rotate(180deg);
}

#sidebar {
    position: fixed;
    border: .2rem solid var(--blue);
    background: var(--light-blue);
    height: 100%;
    width: 270px;
    overflow-y: scroll;
    left: -270px;
    transition: all 0.3s ease;
    z-index: 9999;
}

#btn:checked~#sidebar {
    left: 0;
}

#sidebar .title {
    line-height: 65px;
    text-align: center;
    background: var(--blue);
    font-size: 25px;
    color: var(--white);
    font-weight: 600;
    border-bottom: 1px solid var(--dark-blue);
    cursor: pointer;
}

#sidebar .title i {
    color: var(--dark-blue);
}

#sidebar .list-items {
    position: relative;
    width: 100%;
    height: 92%;
    list-style: none;
}

#sidebar .list-items li {
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
    transition: all 0.3s ease;
}

#sidebar .list-items li:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px var(--blue);
}

#sidebar .list-items li:first-child {
    border-top: none;
}

#sidebar .list-items li a {
    color: var(--black);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
}

#sidebar .list-items li a i {
    margin-right: 20px;
    color: var(--dark-blue);
}

.main-content {
    padding: 0;
    overflow: hidden;
}

header {
    height: 75px;
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    border: 1px solid var(--blue);
    box-shadow: .5rem .5rem 0 var(--light-blue);
    padding: 1rem 8rem;
    z-index: 5000;
}

.main-content header .menu-toggle h1 {
    color: var(--blue);
}

.main-content header .icon span {
    padding: 8px;
    margin-right: 10px;
    font-size: 1.6rem;
    color: var(--blue);
}

.main {
    padding: 1.5rem;
    background: var(--light-blue);
    min-height: calc(100vh-70px);
    margin-top: 5rem;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.header-actions a {
    outline: none;
    color: var(--white);
    background: var(--blue);
    border: none;
    padding: 0.6rem 1rem;
    margin-left: 1rem;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 0.6rem;
}

.header-actions a:hover {
    background: var(--white);
    color: var(--blue);
    border: 1px solid var(--light-blue);
    box-shadow: .5rem .5rem 0 var(--light-blue);
}

/* Not in common  */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
    margin-top: 2rem;
    transform: translateX(3.5%);
}

.card-single {
    background: var(--white);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 2px;
    width: 75%;
}

.card-flex {
    display: grid;
    grid-template-columns: 65% auto;
    align-items: center;
}

.card-head span {
    display: block;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 800;
    font-size: 1rem;
}

.card-head small {
    font-weight: 600;
    color: var(--light-color);
}

.card-info h2 {
    font-size: 2.2rem;
    color: var(--dark-blue);
}

.card-chart span {
    font-size: 5rem;
    color: var(--blue);
}

.Dash-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin-top: 1rem;
    transform: translateX(3.5%);
}

.datetime {
    color: var(--blue);
    background: var(--white);
    font-family: "Segoe UI", sans-serif;
    width: 430px;
    padding: 25px 10px;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 1rem;
    transform: translateX(55%);
}

.datetime:hover {
    background: var(--blue);
    color: var(--white);
    box-shadow: 0 0 30px var(--blue);
}

.date {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child) {
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child {
    background: var(--white);
    font-size: 30px;
    color: var(--blue);
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}

.checked {
    text-decoration: line-through;
    font-style: italic;
    color: #333;
    background-color: var(--blue);
}

.todo {
    height: 24rem;
    width: 30rem;
    border: .2rem solid var(--blue);
    box-shadow: var(--box-shadow);
    padding: 10px;
}

.Input-todo {
    width: 75%;
    padding: 0.3rem 1rem;
    border: var(--border);
}

.todo-btn {
    color: var(--white);
    background: var(--blue);
    box-shadow: var(--box-shadow);
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 0.2rem 1rem;
    font-weight: 600;
    border: .2rem solid var(--black);
    margin-right: 0.6rem;
    cursor: pointer;
}

.todo-btn:hover {
    background: var(--white);
    color: var(--blue);
    border: var(--border);
}

.Seperate-bar {
    overflow-y: hidden;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    cursor: pointer;
    height: 84%;
    border: var(--border);
}

.division {
    transform: translateY(-5%);
}

.quick-links {
    display: flex;
    flex-direction: column;
    width: 40rem;
}

.icon-content {
    transform: translateX(20%);
}

.icon-content .icos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.icon-content .one {
    margin-bottom: 1rem;
}

.icon-content .icos a {
    text-decoration: none;
    background-color: var(--blue);
    border: .2rem solid var(--light-color);
    padding: 10px;
    font-size: 1.6rem;
    font-family: sans-serif;
    color: var(--white);
    text-align: center;
    box-shadow: var(--box-shadow);
}

.icon-content .icos a:hover {
    background-color: var(--white);
    color: var(--blue);
    border: var(--border);
}

.Dash-container .division h1,
.Dash-container .lists h1 {
    color: var(--dark-blue);
}

.Dash-container .lists h1 {
    transform: translateX(-15%);
}

@media (max-width : 1410px) {
    .Dash-container {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        margin-bottom: 5rem;
        transform: translateX(-5%);
        transition: 0.5s ease-in-out;
    }

    .todo {
        transform: translateX(25%);
    }

    .card-single {
        width: 88%;
    }

    .Dash-container .division h1,
    .Dash-container .lists h1 {
        margin: 18px;
    }

}

@media (max-width : 1115px) {
    .card-chart span {
        font-size: 3rem;
    }

    .card-head span {
        font-size: .9rem;
    }

    .card-head small {
        font-size: .8rem;
    }

}

@media (max-width : 960px) {
    .Dash-container {
        transform: translateX(-8%);
    }

}

@media (max-width : 865px) {

    .Dash-container .division h1,
    .Dash-container .lists h1 {
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    .datetime {
        width: 380px;
        padding: 15px 4px;
    }

    .time {
        font-size: 40px;
    }

    .time span:last-child {
        font-size: 25px;
    }

    .date {
        font-size: 17px;
    }

    .icon-content .icos a {
        font-size: 1.3rem;
    }

    .icon-content {
        transform: translateX(8%);
    }

    .todo {
        transform: translateX(15%);
    }

    .card-chart span {
        font-size: 2.5rem;
    }

    .card-head span {
        font-size: .7rem;
    }

    .card-head small {
        font-size: .6rem;
    }
}

@media (max-width : 800px) {
    .Dash-container .division h1 {
        text-align: center;
        margin-left: 10rem;
        margin-bottom: 0.8rem;

    }

    .Dash-container .lists h1 {
        text-align: center;
        width: 100%;
        transform: translate(0%);
        margin-bottom: 0.8rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        transform: translateX(20%);
    }

    .card-single {
        width: 60%;
    }

    .main-content header .icon .fa-search {
        visibility: hidden;
        display: block;
    }

    .main-content header .icon span {
        padding: 0;
        margin-top: -30px;
    }
}

@media (max-width : 680px) {

    .Dash-container .lists h1,
    .Dash-container .division h1,
    .Dash-container,
    .icon-content,
    .todo,
    .datetime {
        margin: 0 auto;
        transform: translateX(0%);
    }

    .Dash-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .page-header h1 {
        font-size: 1.8rem;
    }

    .page-header .header-actions a {
        padding: 0.6rem .8rem;
        font-size: 1rem;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0;
    }

    .main-content header .menu-toggle h1 {
        margin-left: 6rem;
    }
    .Dash-container .division h1,
    .Dash-container .lists h1 {
        margin: 18px;
    }

}

@media (max-width : 500px) {
    .page-header .header-actions .emoji1 {
        display: none;
        visibility: hidden;
    }

    .page-header .header-actions .emoji2 {
        display: block;
        visibility: visible;
    }
}

@media (max-width : 530px) {
    .datetime {
        width: 340px;
    }

    .todo {
        height: 25rem;
        width: 22rem;
        padding: 7px;
    }

    .Seperate-bar {
        height: 87%;
        font-size: 1rem;
    }

    .Input-todo {
        width: 65%;
        padding: 0 0.4rem;
    }

    .btn {
        padding: 0rem 0.5rem;
        font-size: 1rem;
    }
}

@media (max-width : 381px) {
    .card-info small {
        font-size: .6rem;
    }

    .card-info h2 {
        font-size: 1.5rem;
    }

    .card-single {
        width: 100%;
    }

    .cards {
        transform: translate(0%);
    }
}

/* Student details css  */

.buttons {
    display: flex;
    text-align: center;
    justify-content: center;
}

.btn {
    color: var(--white);
    background: var(--blue);
    box-shadow: var(--box-shadow);
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    font-weight: 500;
    margin: 2rem;
    justify-content: space-between;
    border: .2rem solid var(--black);
    cursor: pointer;
}

.btn:hover {
    background: var(--white);
    color: var(--blue);
    border: var(--border);
}

@media (max-width : 800px) {

    .main-content header .icon .fa-search {
        visibility: hidden;
        display: block;
    }

    .main-content header .icon span {
        padding: 0;
        margin-top: -30px;
    }
}

@media (max-width : 680px) {

    .page-header h1 {
        font-size: 1.8rem;
    }

    .page-header .header-actions a {
        padding: 0.6rem .8rem;
        font-size: 1rem;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0;
    }

    .main-content header .menu-toggle h1 {
        margin-left: 6rem;
    }

}

@media (max-width : 500px) {
    .page-header .header-actions .emoji1 {
        display: none;
        visibility: hidden;
    }

    .page-header .header-actions .emoji2 {
        display: block;
        visibility: visible;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        width: calc(100%-50%);
        align-items: center;
    }

    .btn {
        width: 50%;
        margin: 1rem;
    }
}

@media (max-width :380px) {
    .btn {
        width: 100%;
    }

    .main-content header .menu-toggle h1 {
        font-size: .8rem;
    }
}

@media (max-width :450px) {
    .main-content header .menu-toggle h1 {
        font-size: 1.5rem;
    }
}

.Student-container {
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 2rem auto;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-top: 8px solid var(--blue);
    border-left: .2rem solid var(--blue);
    border-right: .2rem solid var(--blue);
    border-bottom: .2rem solid var(--blue);
}

.Student-container h1 {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: var(--dark-blue);
}

.Student-container h1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    width: 140px;
    border-radius: 8px;
    background-color: var(--blue);
}

.Student-container form {
    position: relative;
    margin-top: 16px;
    min-height: 990px;
    background-color: var(--white);
    overflow: hidden;
}

.Student-container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    margin: 3px 0;
    color: var(--blue);
    text-decoration: underline;
}

.Student-container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Student-container form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.Student-container .input-field label {
    font-size: 16px;
    font-weight: 500;
    color: var(--light-color);
}

.Student-container .input-field input,
.Student-container select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: .1rem solid var(--light-color);
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.Student-container .input-field select,
.Student-container .input-field input {
    color: var(--light-color);
}

@media (max-width: 750px) {
    .Student-container form .fields .input-field {
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    .Student-container form .fields .input-field {
        width: 100%;
    }
}

/* time table css  */

.table-container{
    transform: translateX(10%);
    margin: 2rem;
}

table,
tr,
th,
td {
    border-collapse: collapse;
    border: 2px solid #000000;
    text-align: center;
    padding: 5px;
}

table {
    width: 80%;
}

.clr1 {
    background-color: darkseagreen;
    color: var(--black);
    font-weight: 600;
}

.size {
    font-size: 1.1rem;
    font-weight: 800;
    background-color: lightseagreen;
}

.main-content .tab-title{
        margin: 1rem;
    }

@media (max-width :915px) {
    .table-container{
        transform: translateX(0%);
    }

    table {
        width: 100%;
    }

    .main-content .tab-title{
        font-size: 1.5rem;
    }
}

@media (max-width :550px) {
    .main-content .tab-title{
        font-size: 1.1rem;
    }
}

@media (max-width :745px) {

    th,
    td,
    tr {
        display: block;

    }

    #hide {
        display: none;
    }

    .table-container {
        width: 70%;
        margin: 1rem auto;
    }

    .size {
        background-color: lightseagreen;
    }

    .clr1,
    .clr3 {
        background-color: whitesmoke;
    }
}

@media (max-width :400px) {
    .table-container {
        width: 90%;
        margin: 1rem;
    }
}

/* Attendance css  */

.Att-container {
    max-width: 700px;
    width: 100%;
    border-radius: 6px;
    padding: 25px;
    margin: 1rem auto;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-top: 8px solid var(--blue);
    border-left: .2rem solid var(--blue);
    border-right: .2rem solid var(--blue);
    border-bottom: .2rem solid var(--blue);
}

.Att-container h1 {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: var(--dark-blue);
}

.Att-container h1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    width: 140px;
    border-radius: 8px;
    background-color: var(--blue);
}

.Att-container form {
    margin-top: 16px;
    background-color: var(--white);
    overflow: hidden;
}

.Att-container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Att-container form .fields .input-field {
    display: flex;
    width: calc(100% - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.Att-container .input-field label {
    font-size: 16px;
    font-weight: 500;
    color: var(--light-color);
}

.Att-container .input-field input,
.Att-container select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: .1rem solid var(--light-color);
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    width: calc(100%-10%);
}

.Att-container .input-field select:focus,
.Att-container .input-field input:focus {
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.Att-container .input-field select,
.Att-container .input-field input {
    color: var(--light-color);
}

@media (max-width: 550px) {
    .Att-container form .fields .input-field {
        width: 100%;
    }
}